DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
MONGODB_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=

WOMPI_INTEGRITY_SECRET=
AUTOMATION_WEBHOOK_URL=
OPENAI_API_KEY=

EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
